:not(div) {
	height: 100%;
}
body {
	background: #333;
	color: #eee;
	margin: 0;
	display: flex;
	flex-direction: row;
}
textarea {
	flex: 1 1;
	white-space: pre;
	color: white;
	background-color: #bbb;
}
#options {
	flex-direction: column;
	border-left: 10px solid #333;
}
#options > div {
	padding-top: 10%;
}